.About {
  background-size: cover;
  background-position: center;
  &__container {
    padding: 0;
    overflow: hidden;
    & p img {
      display: block;
      margin: auto;
    }
  }

  &__section {
    background-color: $color-primary;
    color: white;
    padding: 3rem 0;

    &:nth-child(2n) {
      background-color: white;
      color: $color-primary;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 3rem;
  }

  &__image {
    display: block;
    margin: auto;
    width: 90%;
  }

  &__text {
    padding: 3rem;
  }
}
