@import "../abstracs/variables";

.footer {
  background-color: $color-primary;
  padding: 2rem 0;

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__content {
    width: 70%;
  }
}
