@import "../abstracs/variables";

.header {
  height: 100vh;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }

  &__background {
    width: 100%;
    background-color: $color-translucent;
  }
}

.services {
  margin: 5rem 0;

  &__header {
    text-align: center;
    color: $color-primary;
    margin-bottom: 3rem;
    text-shadow: $shadow-light;
  }

  &__service {
    margin-top: 2rem;
  }

  &__img {
    box-shadow: $shadow-dark;
    margin-bottom: 1.5rem;
  }
}

// .btn-primary {
//   border-color: $color-primary;
//   background-color: $color-primary;
// }
