@import "../abstracs/variables";

.header {
  height: 100vh;
  width: 100vw;
  background-image: url("./images/hero.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }

  &__background {
    width: 100%;
    background-color: $color-translucent;
  }
}

.services {
  margin: 5rem 0;
}
