@import "../abstracs/variables";

.Banner {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
  background-color: $color-primary;
  background-position: center;

  &__header {
    margin-top: 56px;
    margin-bottom: 15px;
  }
}
