@import "../abstracs/variables";

.Social {
  display: flex;
  width: 100%;
  list-style-type: none;
  padding: 0;

  &__link {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: $color-secondary;
    color: $color-primary;
    font-size: 2em;
    border-radius: 5px;
    margin-right: 1em;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.1);
      text-decoration: none;
      color: $color-primary;
    }

    &:visited {
      color: $color-primary;
    }
  }
}
